@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext);
@import "~font-awesome/less/font-awesome";

body {
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 400px) {
    .header-tabs span.label {
        display: none;
    }
}
