body {
    width: device-width;
    font-family: "PT Sans Narrow";
    background-color: #333;
    background-image: url("../images/background.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

a { color: #fff; transition: text-shadow 0.5s; }
a:hover { color: #fff; text-decoration: none; text-shadow: 0 0 15px rgba(255,255,255,0.8); }

mark {
    border-radius: 3px;
    padding: 0 3px;
    text-shadow: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    background: rgba(255,255,255,0.3);
    color: rgba(0,0,0,0.7);
}

#main {
    width: 800px;
}

#main canvas {
    width: 800px;
    height: 600px;
}

#main #fps {
    color: rgba(255,255,255,0.5);
    padding: 20px;
    width: 100px;
    position: absolute;
    top: 0px;
}

#data {
    font-size: 0.1em;
    margin-top: 400px;
    margin-left: 600px;
    width: 800px;
    overflow: hidden;
    display: none;
}


.node_text {
    position: absolute;
    margin: -12px 0 0 5px;
    line-height: 1.0;
    text-shadow: 0 0 2px rgba(0,0,0,0.8);
}
.node_text small {
    opacity: 0.5;
}

.node {
    position: absolute;
    border-radius: 60%;
    overflow: hidden;
    border: 4px solid transparent;
    transition: box-shadow 0.5s;
}

.node img {
    width: 100%;
}

.node .fa {
    font-size: 1.3em;
    color: #1C5780 !important;
    text-align: center;
    margin: 0 auto;
    display: block;
    top: 5px;
    margin-top: 4px;
}

.node_container:hover a {
    text-shadow: 0 0 15px rgba(255,255,255,0.8);
}
.node_container.over .node,
.node_container:hover .node {
    box-shadow: 0 0 15px rgba(255,255,255,0.8);
}

#data header { position: absolute; width: 32px; }
#data header.blank { position: absolute; width: 8px; }

#node_text_home { 
    margin: -20px 0 0 17px;
    font-size: 2.45em;
    width: 500px;
}
#node_text_home a small {
    font-size: 0.7em;
    margin-left: -15px;
}
#node_text_home div {
    font-size: 0.45em;
    margin-top: 10px;
    width: 450px;
    line-height: 1.4em;
    margin-left: -50px;
}
#node_home {
    
}
#node_home:hover {

}

#node_text_include {        width: 100px; }
#node_text_require {        width: 100px; }
#node_text_twitter {        width: 60px; }
#node_text_vine {           width: 50px; }
#node_text_youtube {        width: 60px; }
#node_text_foursquare {     margin-top:  -6px; }
#node_text_facebook {       margin-top:  -4px; }
#node_text_instagram {      margin-top:  -8px; }
#node_text_googleplus {     margin-top: -12px; }
#node_text_email {          margin-top: -20px; }
#node_text_yahoo {          margin-top:  -6px; } 
#node_text_flickr {         margin-top:  -6px; }
#node_text_linkedin {       margin-top:   0px; }
#node_text_github {         margin-top:  -8px; }
#node_text_stackoverflow {  margin-top: -18px; }
#node_text_behance {        margin-top: -15px; }
#node_text_dribbble {       margin-top:   0px; }
#node_text_deviantart {     margin-top: -14px; }

header#home {               margin-left:    0px; margin-top:    0px; width: 100px; }
  header#blank7 {           margin-left:  100px; margin-top:  -90px; }
  header#blank8 {           margin-left: -130px; margin-top:   10px; }
  header#blank9 {           margin-left:  -20px; margin-top:  130px; }
  header#include {          margin-left: -160px; margin-top: -200px; }
    header#require {        margin-left:   90px; margin-top: -130px; }
  header#twitter {          margin-left: -150px; margin-top:  200px; }
    header#vine {           margin-left:   30px; margin-top:  150px; }
      header#foursquare {   margin-left: -100px; margin-top:  200px; }
        header#blank1 {     margin-left:   10px; margin-top:  200px; }
        header#blank10 {    margin-left:  -70px; margin-top:  100px; }
  header#facebook {         margin-left: -350px; margin-top:  130px; }
    header#blank2 {         margin-left: -130px; margin-top:  100px; }
    header#instagram {      margin-left: -160px; margin-top:  -60px; }
  header#googleplus {       margin-left: -270px; margin-top:  -50px; }
    header#youtube {        margin-left: -100px; margin-top: -150px; }
    header#email {          margin-left: -190px; margin-top:    6px; }
  header#yahoo {            margin-left: -300px; margin-top:  250px; }
    header#flickr {         margin-left:  -80px; margin-top:  120px; }
      header#blank3 {       margin-left: -100px; margin-top:   40px; }
  header#linkedin {         margin-left:  120px; margin-top: -170px; }
    header#github {         margin-left:  200px; margin-top:  -50px; }
      header#stackoverflow { margin-left: 200px; margin-top:  100px; }
        header#blank4 {     margin-left:  200px; margin-top:   10px; }
    header#behance {        margin-left:  150px; margin-top: -130px; }
      header#dribbble {     margin-left:  300px; margin-top:   50px; }
        header#deviantart { margin-left:  150px; margin-top:  -40px; }
          header#blank5 {   margin-left:  100px; margin-top:   20px; }

@media screen and (max-width: 500px) {

    body {
        background-image: url("../images/mobile_bg.jpg");
        background-size: 320px 1000px;
        background-repeat: no-repeat;
    }    

    #main { width: 320px; overflow: hidden; }

    #data { margin-left: 320px; margin-top: 320px; width: 320px; display: none; }

    .node_text { display: none; }

    #node_text_home {
        margin: 150px 0 0 -195px;
        display: block;
    }
    #node_text_home a small {
        margin-left: 0;
    }
    #node_text_home div {
        width: 290px;
        margin-left: 0px;
    }

    header#home {               margin-left:    0px; mergin-top:    0px; }
      header#blank7 {           margin-left:  100px; margin-top:  -90px; }
      header#blank8 {           margin-left: -130px; margin-top:   10px; }
      header#blank9 {           margin-left:  -20px; margin-top:  130px; }
      header#include {          margin-left: -130px; margin-top: -180px; }
        header#require {        margin-left:   90px; margin-top:  -70px; }
      header#twitter {          margin-left:  100px; margin-top:  150px; }
        header#vine {           margin-left:  -70px; margin-top:   90px; }
          header#foursquare {   margin-left:  140px; margin-top:  100px; }
            header#blank1 {     margin-left:  100px; margin-top:   20px; }
            header#blank10 {    margin-left:  -90px; margin-top:   80px; }
      header#facebook {         margin-left: -180px; margin-top:   60px; }
        header#blank2 {         margin-left: -100px; margin-top:   10px; }
        header#instagram {      margin-left:  -80px; margin-top:  150px; }
      header#googleplus {       margin-left: -200px; margin-top:  -90px; }
        header#youtube {        margin-left:  -50px; margin-top: -100px; }
        header#email {          margin-left:  -70px; margin-top:   70px; }
      header#yahoo {            margin-left: -120px; margin-top:  160px; }
        header#flickr {         margin-left:   70px; margin-top:   80px; }
          header#blank3 {       margin-left: -100px; margin-top:   20px; }
      header#linkedin {         margin-left:  170px; margin-top:   50px; }
        header#github {         margin-left:   70px; margin-top:  100px; }
          header#stackoverflow { margin-left: -60px; margin-top:  100px; }
            header#blank4 {     margin-left:  100px; margin-top:   50px; }
        header#behance {        margin-left:   90px; margin-top: -130px; }
          header#dribbble {     margin-left: -220px; margin-top: -100px; }
            header#deviantart { margin-left:  150px; margin-top:  -40px; }
              header#blank5 {   margin-left:  100px; margin-top:   20px; }
}