<%

const page = {
  title: "404 Not Found",
  bundle: ["client"]
};

%><%- include('_header', {config: config, page: page}); %>

<h2 id="error"><%= page.title %></h2>

<%- include('_footer', {config: config, page: page}); %>