<li class="blog-list-item"><a href="<%= context.url %>" title="<%= context.title %>">
  <span class="blog-title"><%= context.title %></span><br>
  <%- include('_blog_meta', {context: context}); %>
</a></li>