<div class="video-container">
  <iframe 
    src="https://www.youtube.com/embed/<%= videoId %>"
    title="<%= videoTitle %>"
    frameborder="0"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"    
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <div class="video-caption"><%= videoTitle %></div>
</div>
