    <footer>
        <i class="far fa-copyright"></i> <small><%= (new Date()).getFullYear() %> Antal Orcsik All Rights Reserved</small>
    </footer>
    <link rel="stylesheet" href="<%= page.bundle %>.bundle.js">
</body>
</html>