<%- include('_header', {config: config, page: page}); %>

<ul>
  <li>
    <a href="https://mozipremierek.hu/" target="_blank"><i class="far fa-globe"></i> mozipremierek.hu</a>
  </li>
  <li>
    <a href="https://aorcsik.medium.com/" target="_blank"><i class="fab fa-medium"></i> My Blog on Medium</a>
  </li>
  <li>
    <a href="https://vilagoskozepkor.hu/" target="_blank"><i class="far fa-podcast"></i> Világos Középkor Podcast</a>
  </li>
  <li>
    <a href="https://88merfoldorankent.hu/" target="_blank"><i class="far fa-podcast"></i> 88 Mérföld Óránként Podcast (archive)</a>
  </li>
</ul>
<ul>
  <li>
    <a href="https://twitter.com/aorcsik" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
  </li>
  <li>
    <a href="https://github.com/aorcsik" target="_blank"><i class="fab fa-github"></i> GitHub</a>
  </li>
  <li>
    <a href="https://linkedin.com/in/aorcsik" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
  </li>
</ul>

<%- include('_footer', {config: config, page: page}); %>