
.blog-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  padding-top: var(--header-height);
  padding-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: calc(-1 * var(--header-height)) 0 0 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .blog-header {
    min-height: 350px;
    border-radius: 1rem 1rem 0 0;
    margin: calc(-1 * var(--header-height) + .5rem) 0 0 0;
  }
}
.blog-header:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  z-index: 1;
}
.blog-header:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  background: linear-gradient(270deg, var(--text) 5%, var(--background) 95%);
  background: -moz-linear-gradient(270deg, var(--text) 5%, var(--background) 95%);
  background: -webkit-linear-gradient(270deg, var(--text) 5%, var(--background) 95%);
  mix-blend-mode: hard-light;
  z-index: 1;
}

.blog-header .avatar {
  width: 64px;
  z-index: 2;
  margin: .5rem auto 0 auto;
}

.blog-header .blog-title,
.blog-header .blog-subtitle {
  text-align: center;
  color: var(--background);
  width: 90%;
  margin: auto auto 0 auto;
  text-shadow: 0 0 5px var(--text);
  z-index: 2;
  font-weight: bold;
  max-width: 680px;
}
.blog-header .blog-title {
  font-size: 2.5rem;
  line-height: 1.25em;
}
.blog-header .blog-subtitle {
  font-weight: normal;
  margin-top: 0.5rem;
}
.blog-header .blog-meta {
  text-align: center;
  color: var(--text-secondary);
  z-index: 2;
  margin: 1rem 1rem 1rem 1rem;
}

.blog-content {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.blog-content p {
  margin: 2.5rem 0;
}

.blog-content blockquote {
  position: relative;
  margin: 1rem 1.5rem;
  padding-left: 1.5rem;
}
.blog-content blockquote:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--text);
  opacity: .1;
}

.blog-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.blog-content figure img {
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  margin-bottom: 1rem;
  max-width: 500px;
  width: 100%;
}

.blog-content figure figcaption {
  font-family: var(--sans-serif-font);
  text-align: center;
  color: var(--text-secondary);
}

.blog-background {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 0;
}


body.tag-elden-ring {
  --background: #020202;
  --text: #fff;
  --accent: #C7A770;
  --accent-alt: #587263;
  --nav-color: #C7A770;
  --nav-color-invert: #C7A770;
  --text-secondary: var(--accent)
}
body.tag-elden-ring #menu-toggle:checked + #header #logo span.logo-head::after,
body.tag-elden-ring #header.sticky #logo span.logo-head::after {
  opacity: 1;
}
body.tag-elden-ring #logo span.logo-head {
  filter: blur(4px);
}
body.tag-elden-ring .blog-header:before {
  background-image: url("https://static.aorcsik.com/blog/elden-ring-background2.webp");
  background-position: center bottom;
  margin-bottom: 75px;
}
body.tag-elden-ring .blog-header:after {
  background: var(--background);
  background: linear-gradient(270deg, var(--background) 0%, transparent 15%);
  background: -moz-linear-gradient(270deg, var(--background) 0%, transparent 15%);
  background: -webkit-linear-gradient(270deg, var(--background) 0%, transparent 15%);
  mix-blend-mode: normal;
}
body.tag-elden-ring .blog-header .blog-title {
  color: var(--text);
  text-shadow: 0 0 5px var(--background);
}
body.tag-elden-ring .blog-header .blog-subtitle {
  color: var(--accent);
  text-shadow: 0 0 5px var(--background);
}
body.tag-elden-ring .blog-header .avatar {
  display: none;
}

body.tag-elden-ring h4 {
  font-size: 1.5em;
  text-align: center;
  color: var(--accent);
}