:root {
  --background: #fafafa;
  --text: #222033;
  --accent: hsla(339, 100%, 55%, 1);
  --accent-alt: hsla(197, 100%, 64%, 1);
  --text-secondary: #666;
  --header-height: 5rem;
  --serif-font: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  --sans-serif-font: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --nav-color: var(--text);
  --nav-color-invert: var(--background);
}

body {
  font-family: var(--serif-font);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

a {
  color: var(--text);
}

i.fab, i.far {
  vertical-align: middle;
}

header, h2, h3, h4 {
  font-family: var(--sans-serif-font);
}

h2 {
  font-size: 2em;
  margin: 1rem 0;
  line-height: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin: 1rem 0;
  line-height: 1.5em;
  font-weight: normal;
}

p {
  line-height: 1.6em;
  margin: 1rem 0;
  font-size: 1rem;
}


.container {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 2rem;

  transition: background-color .2s;
}

#menu-toggle:checked + #header,
#header.sticky {
  background: var(--background);
}
#header .container {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

#header a {
  text-decoration: none;
}

#header .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2rem;
  right: 2rem;
  height: 10px;

  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);

  filter: blur(30px);
  z-index: 0;
}

#header #logo {
  margin-left: 1.3rem;
  font-weight: normal;
  z-index: 1;
}

#menu-toggle {
  position: absolute;
  transform: translate(-1000px, -1000px);
}
#header #menu-toggle-button {
  margin-left: auto;
  margin-right: 1.25rem;
  width: 48px;
  text-align: center;
  height: 48px;
  font-size: .75em;
  color: var(--nav-color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color .2s;
}
.has-background #header #menu-toggle-button {
  color: var(--nav-color-invert);
}
#menu-toggle:checked + #header #menu-toggle-button,
#header.sticky #menu-toggle-button {
  color: var(--nav-color);
}

#header nav {
  z-index: 1;
  font-size: .75em;
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--background);
  transform: translateX(+100%);

  transition: transform ease-in-out .2s;
}

#menu-toggle:checked + #header nav {
  transform: translateY(0);
}

#header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header nav ul li {
  text-align: right;
  padding: .5rem 1.25rem .5rem 0;

  transition: color .2s;
}

#header nav ul li.separator:before {
  content: "";
  display: block;
  width: 50%;
  margin-left: auto;
  height: 2px;
  background: var(--nav-color);
  opacity: .5;
}

#header nav ul li a {
  color: var(--nav-color);

  transition: color .2s;
}

.has-background #header nav ul li,
.has-background #header nav ul li a {
  color: var(--nav-color-invert);
}
.has-background #header nav ul li ul li,
.has-background #header nav ul li ul li a {
  color: var(--nav-color);
}

#header nav ul li.social {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}
#header nav ul li.social a {
  margin-left: 1rem;
}
#header nav ul li.social a:first-child {
  margin-left: auto;
}

#header nav ul li span {
  display: none;
}

#header nav ul li ul li {
  padding-right: 0;
  font-size: 1.25rem;
}

#menu-toggle:checked + #header nav ul li,
#menu-toggle:checked + #header nav ul li a,
#header.sticky nav ul li,
#header.sticky nav ul li a {
  color: var(--nav-color);
}

#header #read-progress {
  position: absolute;
  bottom: 1px;
  height: 3px;
  width: 0%;
  border-radius: 3px;

  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
}

#content {
  padding-top: var(--header-height);
  /* background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

@media only screen and (min-width: 768px) {
  #header #menu-toggle-button {
    display: none;
  }

  #header nav {
    position: static;
    margin-left: auto;
    transform: translateX(0);
    height: auto;
    background-color: transparent;
  }

  #header nav ul {
    display: flex;
  }

  #header nav ul li.separator:before {
    content: "|";
    background: transparent;
    height: auto;
    width: auto;
  }

  #header nav ul li span {
    display: block;
  }  

  #header nav ul li ul {
    position: absolute;
    background: var(--background);
    padding: .5rem 1rem;
    margin-top: .5rem;
    margin-left: -1rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.25);

    opacity: 0;
    transform: translateY(-30px);
    transition: opacity .3s, transform .3s;
  }

  #header nav ul li:hover ul {
    opacity: 1;
    transform: translateY(0);
  }
}


footer {
  padding: 1rem;
  font-family: var(--sans-serif-font);
  text-align: center;
}

/* LOGO */

#logo {
  font-size: 1em;
  margin: 0;
}
#logo a {
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
}
#logo span.logo-head {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);

  color: transparent;
  -webkit-mask-image: url("../images/logo-small.svg");
  mask-image: url("../images/logo-small.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  display: inline-block;
  width: 2.45em;
  position: relative;
}
#logo span.logo-head:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  background-color: var(--nav-color-invert);

  transition: opacity .2s;
}
#logo span.logo-tail {
  font-size: 0.75em;
  margin-left: .25rem;
  color: var(--text);

  transition: color .2s;
}

.has-background #logo span.logo-head::after {
  opacity: 1;
}
.has-background #logo span.logo-tail {
  color: var(--nav-color-invert);
}

#menu-toggle:checked + #header #logo span.logo-head::after,
#header.sticky #logo span.logo-head::after {
  opacity: 0;
}

#menu-toggle:checked + #header #logo span.logo-tail,
#header.sticky #logo span.logo-tail {
  color: var(--nav-color);
}

h2#error {
  text-align: center;
}

/* MAIN */

.main-content {
  padding: 0 1.5rem;
}

.main-content #name {
  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.main-content h2 {
  margin: 2rem 0;
}

.main-content h3 {
  margin: 2rem 0;
}

.main-content h4 {
  text-transform: uppercase;
  color: #aaa;
}

.avatar {
  display: block;
  position: relative;
  border-radius: 42% 58% 73% 27% / 74% 59% 41% 26%;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  overflow: hidden;
}
.avatar img {
  display: block;
  width: 100%;
  height: auto;
}
.avatar::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--accent);
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -moz-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  background: -webkit-linear-gradient(45deg, var(--accent) 0%, var(--accent-alt) 100%);
  mix-blend-mode: color;
}
.avatar::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
}

.main-content .avatar {
  width: 80%;
  max-width: 300px;
}
@media only screen and (min-width: 768px) {
  .main-content .avatar {
    width: 40%;
    float: right;
    margin: 0 1.25rem;
  }
}

.main-content hr {
  margin: 2rem 1rem;
  background: #ddd;
  height: 2px;
  border: 0;
}

ul.blog-list {
  font-family: var(--sans-serif-font);
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}
ul.blog-list a {
  text-decoration: none;
  display: block;
  padding: .5rem 0;
  border-radius: .5rem;

  transition: background-color .2s;
}

.blog-meta span:first-child::after,
.blog-meta span:last-child::before {
  content: "\2022";
  margin: 0 .5em;
}

ul.blog-list .blog-title {
  font-weight: bold;
  font-size: 1.25em;
}
ul.blog-list .blog-meta {
  color: #888;
}

@media only screen and (min-width: 768px) {
  ul.blog-list a {
    padding: .5rem 1rem;
  }
  ul.blog-list a:hover {
    background: rgba(0,0,0,.05);
  }
}