/* editor */
:root {
  --serif-font: 'Merriweather', 'Georgia', 'Times New Roman', 'serif';
  --sans-serif-font: 'Poppins', 'Helvetica Neue', 'Arial', 'sans-serif';
  --monospace-font: 'Fira Code', 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--sans-serif-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button, input, select {
  font-family: inherit;
}
pre, code, samp, kbd, var, textarea {
  font-family: var(--monospace-font);
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  --accent: #0080b3;
  --on-accent: #f6f6f6;
  --background-color: #181818;
  --text-color: #CCCCCC;
  --text-secondary-color: #9B9B9B;
  --border-color: #2B2B2B;

  color: var(--text-color);
  background-color: var(--background-color);
}

.container .separator {
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  font-size: 0.9rem;
  padding: 0 1px;
  border: 0;
  transition: all .3s;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container .separator:hover,
body.dragging .container .separator {
  background-color: var(--accent);
  color: var(--on-accent);
}
body.dragging,
body.dragging .container .separator {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container .editor-footer {
  font-size: 0.8rem;
  padding: .25rem .5rem;
  border-top: 1px solid var(--border-color);
}

.container .editor-header {
  display: flex;
  padding: .5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.container .editor-header .status {
  padding: 0 .5rem 0 .5rem;
  margin-right: .5rem;
  display: none;
}
.container.status-loading .editor-header .status-loading {
  display: block;
}
.container.status-saved .editor-header .status-saved {
  display: block;
}
.container.status-changed .editor-header .status-changed {
  display: block;
}

.container .editor-header input[name="filename"] {
  border: 0;
  display: block;
  background-color: transparent;
  color: var(--text-secondary-color);
  font-family: var(--monospace-font);
  outline: 0;
  flex-grow: 1;
}

.container .editor-header button[name="save"] {
  padding: .5rem 1rem;
  border: 0;
  background: var(--accent);
  color: var(--on-accent);
  border-radius: .25rem;
  margin-left: auto;
}
.container .editor-header button[name="save"]:disabled {
  background: rgba(0,0,0,0.3);
  color: var(--text-secondary-color);
  cursor: not-allowed;
}

.container .editor-container {
  width: 50%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  --syntax-background: #1F1F1F;
  --syntax-color: #CCCCCC;
  --syntax-color-1: #569cd6;
  --syntax-color-2: #CE9178;
  --syntax-color-3: #6A9956;
  --syntax-color-4: #9CDCFE;
  --syntax-color-5: #DA70D6;
  --syntax-line-number-color: #6D7681;
}
.container .editor-container .editor-content {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  color: var(--syntax-color);
  background-color: var(--syntax-background);
}

.container .editor-container #contentTextarea,
.container .editor-container pre {
  white-space: pre-wrap;
  margin: 0 1rem 0 1rem;
  font-size: 0.8rem;
}

.container .editor-container #contentTextarea {
  color: transparent;
  color: rgba(255,255,255,0.2);
  caret-color: var(--syntax-color);
  background: transparent;
  border: 0;
  outline: 0;
  font-family: var(--monospace-font);
  font-size: 0.8rem;
  flex-grow: 1;
  z-index: 3;
  resize: none;
  overflow-y: scroll;
  scrollbar-color: var(--syntax-line-number-color) var(--syntax-background);
  scrollbar-width: none;
  padding-right: 1rem;
  margin-right: 0;
}

.container .editor-container pre.contentLinesPre {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.container .editor-container pre.contentStylePre {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--syntax-color);
  z-index: 2;
  /* background-color: var(--syntax-background); */
}

.contentScrollbar {
  position: absolute;
  width: .5rem;
  height: 100px;
  background: var(--syntax-line-number-color);
  border-radius: .4rem;
  top: 0;
  right: .25rem;
  display: none;
  /* z-index: 10; */
}
/* .contentScrollbar:hover {
  background: var(--syntax-color);
} */

.container .preview-container {
  width: 100%;
  position: relative;
}

.container .preview-container .drag-overlay {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background-color: var(--background-color);
  z-index: 1;
  display: none;
}
body.dragging .container .preview-container .drag-overlay {
  display: block;
}

.container .preview-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* transition: opacity .3s; */
}

.mdFrontMatter {
  color: var(--text-secondary-color);
  /* background: rgba(255,255,255,.025);
  display: block;
  padding: 1rem 1rem .5rem 1rem;
  margin: -1rem -1rem -.5rem -1rem;
  border-radius: 4px; */
}

/* visible characters */

.mdAsterisk::after {
  content: "*";
}
.mdUnderscore::after {
  content: "_";
}
.mdHashmark::after {
  content: "#";
}
.mdGreaterThan::after {
  content: ">";
}
.mdDash::after {
  content: "-";
}
.mdEqual::after {
  content: "=";
}
.mdTilde::after {
  content: "~";
}
.mdBacktick::after {
  content: "`";
}

/* invisible characters */
.mdNewLine {
  position: relative;
  width: 0ch;
}
.mdNewLine::after {
  content: "\21B5";
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
}
.mdSpace {
  position: relative;
  width: 1ch;
}
.mdSpace::after {
  content: "\2022";
  opacity: .2;
  position: absolute;
  top: 0;
  left: 0;
}

/* elements */

.mdHeading {
  font-weight: bold;
  color: var(--syntax-color-1);
}
.mdStrong {
  font-weight: bold;
  color: var(--syntax-color-1);
}
.mdEm {
  font-style: italic;
}
.mdStrikethrough {
  text-decoration: line-through;
}
.mdLink {
  color: var(--syntax-color-2);
}
.mdLink.mdImage {
  color: var(--syntax-color-5);
}
.mdLink.mdImage::before {
  content: "!";
}
.mdLink .mdLinkText::before {
  content: "[";
}
.mdLink .mdLinkText::after {
  content: "]";
}
.mdReference .mdLinkUrl,
.mdLink .mdLinkUrl {
  text-decoration: underline;
}
.mdLink .mdLinkParams {
  color: var(--syntax-line-number-color);
}
.mdLink .mdLinkParams::before {
  content: "(";
}
.mdLink .mdLinkParams::after {
  content: ")";
}
.mdReference .mdLinkRef,
.mdLink .mdLinkRef {
  color: var(--syntax-line-number-color);
}
.mdReference .mdLinkRef::before,
.mdLink .mdLinkRef::before {
  content: "[";
}
.mdLink .mdLinkRef::after {
  content: "]";
}
.mdReference .mdLinkRef::after {
  content: "]:";
}
.mdReference .mdLinkTitle,
.mdLink .mdLinkTitle {
  color: var(--syntax-color-2);
}

.mdHtml {
  color: var(--syntax-color-1);
}
.mdHtml .mdHtmlAttrName,
.mdFrontMatter .mdFrontMatterRecordName {
  color: var(--syntax-color-4);
}
.mdHtml .mdHtmlAttrValue,
.mdFrontMatter .mdFrontMatterRecordValue {
  color: var(--syntax-color-2);
}
.mdCode {
  color: var(--syntax-color-2);
}
.mdCodeBlock {
  color: var(--syntax-color-2);
}
.mdQuote {

}
.mdQuote .mdGreaterThan {
  color: var(--syntax-color-3);
}
.mdList {

}
.mdList .mdListBullet {
  color: var(--syntax-color-1);
}
.mdHr {
  color: var(--syntax-color-4);
}


.mdLine {
  display: inline-flex;
}
.mdLine .mdLineNumber {
  text-align: right;
  flex-shrink: 0;
  color: var(--syntax-line-number-color);
}
.mdLine.mdLineActive .mdLineNumber {
  color: var(--syntax-color);
}
.mdLine .mdLineContent {
  flex-grow: 1;
  padding-left: 1ch;
  color: transparent;
}
.mdLine .mdLineContent .mdSpace {
  color: var(--syntax-color);
}

.mdComment {
  color: var(--syntax-color-3);
}
.mdComment .mdCommentStart::after {
  content: "<!--";
}
.mdComment .mdCommentEnd::after {
  content: "-->";
}


/* --syntax-color-1 */
