html, body {
  font-family: "Roboto", monospace;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
  color: #222033;
}

header {
  padding: 0 1rem 1rem;
}

footer {
  padding: 1rem;
}

h1 {
  margin-bottom: 0;
  font-family: "Major Mono Display";
}

h1 a {
  opacity: .75;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

ul {
  line-height: 2em;
  list-style: none;
  padding: 0 1rem 1rem;
}

a {
  text-decoration: none;
  color: #325CA6;
}

i.fab, i.far {
  vertical-align: middle;
}

#logo {
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: .5rem;
}
#logo span.logo-head {
  background: hsla(339, 100%, 55%, 1);
  background: linear-gradient(45deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1B6B", endColorstr="#45CAFF", GradientType=1 );

  color: transparent;
  -webkit-mask-image: url("../images/logo-small.svg");
  mask-image: url("../images/logo-small.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  display: inline-block;
  width: 2.45em;
}
#logo span.logo-tail {
  font-size: 0.75em;
  color: #999;
}