<a name="top"></a>
<h2>Hello, my name is Antal Orcsik &mdash; Tony.</h2>

<p>I'm <%= age %> years old, I live in Budapest, Hungary, and I'm...</p>

<ul class="list">
    <li>a <a href="#about/software-engineer">software engineer</a> at <a href="http://prezi.com/">Prezi</a>,</li>
    <li>a <a href="#about/hobby-illustrator">hobby illustrator</a>,</li>
    <li>and an ex hardcore MMO <a href="#about/gamer">gamer</a>, preparing for his big return :)</li>
</ul>

<p>On the internet, you can...

<ul class="list">
    <li>read my posts on <a href="http://medium.com/@aorcsik">Medium</a></li>
    <li>follow my tweets on <a href="http://twitter.com/aorcsik">Twitter</a></li>
    <li>upvote my answers on <a href="http://stackoverflow.com/users/601224/aorcsik">Stack Overflow</a></li>
    <li>fork my projects on <a href="http://github.com/aorcsik">GitHub</a></li>
    <li>add my art to your favorites on <a href="http://aorcsik.deviantart.com/">devinatART</a></li>
    <li>play games with me on <a href="http://steamcommunity.com/id/aorcsik">Steam</a> and
        <a href="https://live.xbox.com/en-US/Profile?Gamertag=aorcsik">XBOX Live</a></li>
</ul>

<p>and much, much more:
    <a href="http://hu.linkedin.com/in/aorcsik/">LinkedIn</a>,
    <a href="http://facebook.com/aorcsik/">Facebook</a>,
    <a href="https://plus.google.com/105228950085229557890/">Google+</a>,
    <a href="http://about.me/aorcsik/">about.me</a>,
    <a href="http://facebook.com/aorcsik/">Facebook</a>,
    <a href="http://www.flickr.com/photos/aorcsik/">Flickr</a>,
    <a href="http://instagram.com/aorcsik">Instagram</a>
</p>



<h2><a href="#about/top" name="software-engineer">Software Engineer</a></h2>

<p>I wrote my first line of Pascal in high school around 1997. Back then my interest
    for computers was mostly about gaming and browsing the pages of computer magazines.
    It was clear for me that Word and Excel would not satisfy me for long, and I
    signed up for a programming study group, where I learned some basics of coding.</p>

<p>In 2000 I stumbled upon some strage text files on a PC-X magazine bundled CD, which 
    were littered with things like <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code>,
    also they had the extension <strong>.htm</strong>. A few month later, arounf 7 PM I was 
    in the computer lab building the school homepage on the webmaster workstation.</p>

<p>In 2003 I went to university (BME). I was thought software engineering in C, C++ and Java.
    For a project I needed a dynamic server side langugae, and I was told if I understand
    C syntax PHP would be piece of cake, and it was. After 6 months of practice I was
    hired as a summer intern to Arkon. This job was such a fit for me than, that a few 
    years later I quit school and joined full time.</p>

<p>From 2005 I spent 8 years there, coding PHP, HTML, CSS and JavaScript for sites like
    <a href="http://ingatlan.com">ingatlan.com</a>, <a href="http://utcakereso.hu/">utcakereso.hu</a>
    and <a href="http://koponyeg.hu">koponyeg.hu</a>, the second most popular weather site in
    Hungary with more than 200 thousand daily visitors. During these years I had some personal
    assignments and experimented with online technologies.</p>

<p>2013 brought the biggest changes in one year for my life. I joined <a href="http://prezi.com/">Prezi</a>,
    and resumed my academic studies, but at another institute (ELTE). A whole new world opened 
    up for me, and building on top of the web stack experience I gathered during my PHP years I 
    jumped head on to Python, the JVM, functional programming, and whatever else comes along...</p>


<h2><a href="#about/top" name="hobby-illustrator">Hobby Illustrator</a></h2> 

<p>I was good at drawing even as a child, but nothing extraordinary, as I remember. You
    may say that I need a few less tries to draw a line the way I want it. I especially
    hated painting in school. I never felt the control over the brush the way I did with
    a pen or pencil. Still the artistic view helped a lot in webdesign, so I could sell
    myself well as a full stack web developer who can take a project from paper to the 
    screen alone.</p>

<p>During university, among future software and electrical engineers my drawing skill
    were quickly noticed, and I became the illustrator of the faculy paper. Those years 
    were the most productive period so far. News spread quickly and I was asked to draw 
    several other things, like T-shirt designs, posters and greeting cards.</p>

<p>Apart from some occasional sketches I pracktically quit drawing after university, but
    2013 brought a great change to this side of my life too. I decided to draw at least one
    illustration for every post I write on Medium, but the goal is to draw something every
    day.</p>


<h2><a href="#about/top" name="gamer">Gamer</a></h2>

<p>As far as I can remember I always liked computer games. My first encounter was back in
    the early 90's when I first played Super Mario Bros. on the NES at a friend of mine.
    My parents bought me one later ans I still have that system today as part of my humble
    Nintendo collection.</p>

<p>Actual computer games came a few years later with classics like Doom, Wolfenstein 3D,
    Mortal Kombat, The Incredible Machine and Jazz Jackrabbit on DOS, and I don't even try to
    collect how many different games I encountered in later years. Still I would
    consider myself a moderate gamer compared to the one who was born in 2006 when I bought
    World of Warcraft.</p>

<p>WoW was, is and will be the greatest game for me. In the first 3 years I became a hardcore
    endgame player, permamnent tank of a clan, whose name was mentioned in European top lists.
    I was involved in 25-men first boss kills, looted some of the most preciuos drops in
    the game, and I loved it! I was a lore addict read almost every book, and I would always
    think of this world and these times as a beautiful part of my life.</p>

<p>During the third expansion I lost focus and could not keep up with the clan, I fast became
    a casual player and in 2013 I froze my account, but my love of gaming never stopped. As
    time and work allowed I managed to play with Blizzard's othermasterpieces: Starcraft II
    and Diablo III, and I never gave up my plan of returning to World of Warcraft.</p>

<p>I also have an XBOX 360 and a Wii, on which I played with Dante's Inferno, Portal 2, Epic 
    Mickey and Super Mario Galaxies, just to mention a few, and I regularily buy indie game
    bundles so choosing what to play will never be a problem for me.</p>