<p>This site was created by Antal Orcsik &mdash; Tony</p>

<ul class="list">
    <li>using <a href="http://en.wikipedia.org/wiki/HTML5"><span class="pictonic-html5-02"></span> HTML5</a>, <a href="http://en.wikipedia.org/wiki/CSS3#CSS_3" ><span class="pictonic-css3-02"></span> CSS3</a> and <a href="http://en.wikipedia.org/wiki/JavaScript"><span class="pictonic-prog-js01"></span> JavaScript</a></li>
    <li>powered by <a href="http://backbonejs.org/"><span class="pictonic-prog-backbonejs"></span> backbone.js</a> and <a href="http://jquery.com/"><span class="pictonic-prog-jquery"></span> jQuery</a></li>
    <li>hosted by <a href="http://gyumolcstarhely.hu/">Gyümölcstárhely</a></li>
</ul>

<p>You can find it on <a href="https://github.com/aorcsik/aorcsik.com"><span class="icon-github"></span> GitHub</a>.</p>