html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
}
@media (min-width: 480px) {
    body {
        font-size: 14px;
    }
}

#navigation {
    position: fixed;
    width: 100%;
    overflow: auto;
    background: rgba(255,255,255,0.9);
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
    font-size: 14px;
}
#navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
#navigation ul li {
    display: inline;
}
#navigation ul li a {
    display: inline-block;
    height: 50px;
    padding: 15px 20px 15px 40px;
    text-decoration: none;
    color: rgba(0,0,0);
    opacity: .3;
    position: relative;

    transition: opacity .3s;
}
#navigation ul li a i {
    font-size: 1.5em;
    position: absolute;
    left: 20px;
    width: 20px;
    text-align: center;
}
#navigation ul li a span {
    display: none;
}
#navigation ul li a#nav_aboutme {
    color: rgb(107, 154, 22);
}
#navigation ul li a#nav_work {
    color: rgb(37,114,190);
}
#navigation ul li a#nav_education {
    color: rgb(147,26,44);
}
#navigation ul li a.selected,
#navigation ul li a.selected:hover {
    opacity: 1;
}


#navigation .selection-indicator {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.0);
    height: 3px;
    width: 0px;
    left: 50%;

    transition: left .3s, width .3s, background-color .3s;
}

@media (min-width: 480px) {
    #navigation ul li a:hover {
        opacity: .6;
    }
    #navigation ul li a span {
        margin-left: 10px;
        display: inline;
    }
}

footer {
    padding: 10px;
    opacity: 0.3;
    text-align: center;
}


#content {
    padding-top: 50px;
}
#content header {
    overflow: auto;
    padding: 15px;
}
#content h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 5px 0;
    position: relative;
}
#content h2 span {
    display: block;
    font-weight: normal;
    font-size: 0.8em;
    opacity: 0.5;
    margin: 5px 0;
}
#content h3 {
    font-size: 1.3em;
    line-height: 1.6em;
    margin: 5px 0;
    position: relative;
}
#content h3 span {
    display: block;
    font-weight: normal;
    font-size: 0.8em;
    opacity: 0.5;
}

#content section {
    border-style: solid;
    border-width: 3px 0 0 0;
    padding: 15px;
    background: rgba(0,0,0,0.05);
}

#content header img {
    margin-top: 5px;
    float: right;
}
#content header .company {
    margin-top: 5px;
    font-size: 1.5em;
    float: right;
}

#content .aboutme section,
#content .aboutme .subsection h3::before {
    border-color: rgb(107, 154, 22);
    background: rgba(107, 154, 22,0.05);
}
#content .aboutme header img {
    width: 60px;
    border-radius: 35px;
}
#content .ibm section,
#content .ibm .subsection h3::before {
    border-color: rgb(37,114,190);
    background: rgba(37,114,190,0.05);
}
#content .ibm header img {
    margin-top: 3px;
    width: 80px;
}
#content .prezi section,
#content .prezi .subsection h3::before {
    border-color: rgb(32,105,201);
    background: rgba(32,105,201,0.05);
}
#content .prezi header img {
    width: 80px;
}
#content .ingatlan section,
#content .ingatlan .subsection h3::before {
    border-color: rgb(233, 86, 64);
    background: rgba(233, 86, 64,0.05);
}
#content .ingatlan header img {
    margin-top: 10px;
    width: 110px;
}
#content .elte section,
#content .elte .subsection h3::before {
    border-color: rgb(176, 8, 55);
    background: rgba(176, 8, 55,0.05);
}
#content .elte header img {
    margin-top: 10px;
    width: 60px;
}
#content .bme section,
#content .bme .subsection h3::before {
    border-color: rgb(138, 39, 52);
    background: rgba(138, 39, 52,0.05);
}
#content .bme header img {
    margin-top: 5px;
    width: 110px;
}

/*#content .subsection::before {
    content: "";
    display: block;
    width: 50%;
    margin: 20px auto 10px auto;
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
#content .subsection:first-child::before {
    display: none;
}*/

@media (min-width: 992px) {
    #content header {
        text-align: right;
    }
    #content header img {
        display: inline-block;
        margin-bottom: 10px;
        float: none;
    }
    #content header .company {
        display: inline-block;
        margin-bottom: 10px;
        float: none;
    }
    #content section {
        border-width: 0 0 0 3px;
        padding-bottom: 20px;
        min-height: 200px;
    }
    #content .aboutme header img {
        margin-top: 10px;
        width: 128px;
        border-radius: 70px;
    }
    #content .content_card .subsection h3::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        border-width: 3px;
        border-style: solid;
        border-radius: 10px;
        background: #fff;
        top: 6px;
        left: -25px;
    }
}
