.sprite-gallery {
    display: flex;
    flex-wrap: wrap;
}

div.sprite {
    padding: 0 1rem .75rem;
    margin: .75rem .75rem;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em;

    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    width: 100%;
    background-color: #fdfdfd;
}

div.sprite picture {
    /* border: 2px solid #322F35;
    box-shadow: 2px 2px 0px #000000; */
    border-radius: 15px 15px 0 0;
    margin: 0 -1rem .75rem -1rem;
    background: /* #f6f6f6; */ #3B5F7F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    min-width: 256px;
    position: relative;
}
div.sprite.dark picture {
    background-color: #322F35;
}

@media (min-width: 600px) {
    div.sprite {
        width: auto;
    }
    div.sprite picture {
        padding: 0 .5rem;
    }
    div.sprite .sprite-info {
        max-width: 240px;
        max-width: calc(256px - 2*.5rem);
    }
}

div.sprite picture {
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: pixelated;                 /* Chrome as of 2019   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.sprite picture::after {
    content: "";
    width: 36px;
    height: 13px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url(./aorcsixel.png);
    background-size: cover;
    opacity: .75;
}

div.sprite strong.title {
    font-size: 1.2em;
    font-weight: 900;
}

div.sprite span.created-at {
    font-size: .9em;
    color: #666;
}

div.sprite span.created-with {

}

div.sprite hr {
    /* border: 0;
    height: 1px;
    background: #999;
    background-image: linear-gradient(to right, #ccc, #999, #ccc); */

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.sprite a {
    font-weight: 700;
}

/* CLICKABLE */

.clickable {
    position: relative;
}

.clickable:after {
    content: "\f25a";
    font-family: "Font Awesome 5 Pro";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
 
    position: absolute;
    right: .75rem;
    bottom: .75rem;
    font-size: 1.5em;
    color: #fdfdfd;
    opacity: .75;
    text-shadow: 0px 1px 3px rgba(0,0,0,.5);
}

.clickable img {
    transform: translateY(0px);
    transition: transform .1s;
}
.clickable .on { display: none; }
.clickable .off { display: block; }
.clickable.clickable-down img {
    transform: translateY(3px);
}
.clickable.clickable-clicked .on { display: block; }
.clickable.clickable-clicked .off { display: none; }

/* INFO TOGGLE */

input.info-toggle {
    position: absolute;
    opacity: 0;
}
input.info-toggle + .sprite {
    position: relative;
    transition: transform .3s;
}

input.info-toggle + .sprite picture {
    overflow: hidden;
    transition: height .3s;
}

input.info-toggle + .sprite .sprite-info {
    background: #fdfdfd;
    border-radius: 15px;
    height: 0;
    overflow: hidden;
    transition: height .3s;
}
input.info-toggle + .sprite label {
    position: absolute;
    right: .75rem;
    top: .75rem;
    font-size: 1.5em;
    color: #fdfdfd;
    opacity: .75;
    text-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
input.info-toggle:checked + .sprite .sprite-info {
    height: 256px;
}
input.info-toggle:checked + .sprite picture {
    height: 0px;
}
input.info-toggle:checked + .sprite label {
    color: #222033;
    opacity: .5;
    text-shadow: none;
}
input.info-toggle:checked + .sprite label:before {
    content: "\f057";
}

input.info-toggle + .sprite .sprite-info .color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    color: transparent;
    overflow: hidden;
    vertical-align: middle;
}