body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 0 1rem 1rem;
}

h1 {
    margin-bottom: 0;
}

h1 a {
    opacity: .75;
}

ul {
    line-height: 2em;
    list-style: none;
    padding: 0 1rem 1rem;
}

a {
    text-decoration: none;
    color: #325CA6;
}

i.fab, i.far {
    vertical-align: middle;
}

